@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuperMario256';
  src: url('/fonts/SuperMario256.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.game-board {
  font-family: 'SuperMario256', sans-serif !important;
}

.keyboard {
  font-family: 'SuperMario256', sans-serif !important;
}

.keyboard button {
  font-family: 'SuperMario256', sans-serif !important;
}

.game-board div {
  font-family: 'SuperMario256', sans-serif !important;
}
